*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    background: url("dark1.jpg") no-repeat center/ cover;
    padding: 50px 5%;
}
.container{
    position:relative;
    height: 104%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius:30px;
    backdrop-filter: blur(30px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}
@keyframes zoom-in{
    100%{
        transform: scale(1);
    }
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.animated{
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 0.9s;
}
@keyframes slide-in{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 750;
}
.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.navbar a:hover,
.navbar a.active{
    border-color: #fff;
}
.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
    animation-delay: 1.3s;
}
.home-detail h1{
    font-size: 55px;
    line-height: 1;
}

.home-detail p{
    margin: 13px 0 20px;
    max-width: 800px; 
    flex: 1;
}
.home-detail .download-social{
    display: flex;
    align-items: center;    
}
.btn{
    display:inline-block;
    padding: 10px 30px;
    background: #fff;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 2%;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
    gap: 20px;        
}

.download-social {
  padding: 10px;
  border-radius: 10px;
}


.home-detail .download-social a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    margin: 0 8px;   
}
.home-detail .download-social a:hover{
    box-shadow: 0 0 10px #fff;
    color: #333;
}
.home-img.img-box{
    position: relative;
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}
.home-img.img-box img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top; 
    display: block;
}
.download-social i{
    color: #fff;
}

/* Projects Page CSS */
#proj{
    margin-top: 4.8rem;
    color: #fff;
    font-size: 55px;
    line-height: 1;
}

.project-container{
    display: grid;
    align-items: center;
    margin-top: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(blur);
    overflow: hidden;
    display: flex;   
}

.project-box img{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    transition: 0.5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    color: black;
    transform: translateY(100%);
    transition: 0.5s ease;
}


.projects {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  animation-delay: 1.3s;
}

.project-box {
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-layer h4 {
  font-weight: 800;
  margin: 0.1rem 0;
  font-size: 1.5rem;
}

.project-layer p {
  font-size: 0.9rem;
  line-height: 1.4;
  font-size: 0.9rem;
  margin: 0.3rem 0 1rem;
}

.project-box:hover .project-layer{
    transform: translateY(0);  
}

.project-box:hover img{
    filter:blur(5px);
}

.project-layer i{
    font-size: larger;
    color: black;
    background-color: transparent;
}

/* Contact Page CSS */
#about-header{
    margin-top: 4.8rem;
    color: #fff;
    font-size: 55px;
    line-height: 1;
}

#contact-header{
    margin-top: 4.8rem;
    color: #fff;
    font-size: 55px;
    line-height: 1;
    margin-left: 33rem;
}

.contact form {
    width: 90%;
    max-width: 600px;
    margin: 3rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;            
    margin-bottom: 1rem;
}

.contact form .input-box input {
    flex: 1;               
    padding: 0.8rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.contact form textarea {
    width: 103%;
    padding: 0.8rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    resize: none;
    margin-bottom: 1rem;
}

.contact form .btn {
    padding: 0.8rem 2rem;
    color: #333;
    background-color: #fff;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 5450;
}

.contact form .btn:hover {
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}

.contact{
    animation-delay: 1.3s;
}


/* About Page CSS */
#services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

#services-container .services-box{
    flex: 1 1 1rem;
    
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    margin-top: .1%;
    margin-left: 2rem;
    margin-right: 2rem;
    background: rgba(0, 0, 0, 0.12); 
    backdrop-filter: blur(10px);
     padding: 3rem 2rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.services-box i{
    font-size: 2.5rem;
    color: #fff;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.services-box h3{
    font-size: 1.5rem;
    color: #fff; 
}

.services-box p{
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    font-style: italic;
    margin: 0.8rem 0 0.7rem;
    margin-bottom: -0.6rem;
}

.services-header{
      text-align: center;
      margin: 50px 0 20px 0;
      font-size: 1.4rem;
      color: #fff;     
}

#about-me{
     color: #fff; 
     font-size: 1rem;
     font-weight: 300;
     margin-top: 1.5rem;
     margin-left: 2rem;
     margin-right: 2rem;
     text-align: center;
}

.about{
    animation-delay: 1.3s;
}

#about-header{
    text-align: center;
}